<div class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">Filters</h5>
      <hr>
      <form>
        <div class="form-group">
            <label for="From">From:</label>
            <input type="number" class="form-control" >
            <small id="emailHelp" class="form-text text-muted">Add a number</small>
          </div>

          <div class="form-group">
            <label for="to">To:</label>
            <input type="number" class="form-control" >
            <small id="emailHelp" class="form-text text-muted">Add a number</small>
          </div>
      <a href="#" class="btn btn-primary btn-block">Filter</a>
    </form>
    </div>
  </div>